<!doctype html>
<html lang="">
<head>
  <title>Test application</title>
  <link rel="stylesheet" href="{{ asset_url_for('app_css.css') }}">
</head>
<body>
<p id="hello">Hello (without javascript)</p>
<img src="{{ asset_url_for('images/dog/no-idea.jpg') }}"
     width="600" height="434" alt="No idea">
<script src="{{ asset_url_for('app_js.js') }}"></script>
</body>
</html>
